{% extends '../../base.html' %}

{% block title %}Edit Concept{% endblock %}

{% block content %}

    <h1>Edit Concept</h1>
    <form method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <label>{{ form.name.label }}</label>
        {{ form.name }}

        <button type="submit">Update</button>
        <a href="{% url 'game:concept-list' %}" class="btn btn-default">Cancel</a>
        {% if object.active %}
            <a href="{% url 'game:concept-delete' object.id %}">Delete</a>
        {% else %}
            <a href="{% url 'game:concept-activate' object.id %}">Activate</a>
        {% endif %}
    </form>

{% endblock %}