{% extends '../../base.html' %}

{% block title %}New Game{% endblock %}

{% block content %}

    <h1>New Game</h1>
    <form action="{% url 'game:game-register' %}" method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <label>{{ form.total.label }}</label>
        {{ form.total }}

        <br/>

        <button type="submit">Register</button>
        <a href="{% url 'game:game-list' %}" class="btn btn-default">Cancel</a>
    </form>

{% endblock %}